# Classificaçãop de texto na realidade, múltiplas avaliações ao mesmo tempo

Começamos pelos imports:

1.   Bibliotecas para manipulação de dados;
2.   Spacy para processamento de texto;
3.   sklearn e xgboost para classificação e extração de features.

In [ ]:
import pandas as pd
import string
from collections import Counter
import spacy
import en_core_web_sm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import cohen_kappa_score, make_scorer
from xgboost import XGBClassifier

nlp = en_core_web_sm.load()

# Lendo os dados de uma planilha usando o pandas

In [ ]:
df = pd.read_csv('spam.csv')
df

     Class                                               Text
0      ham                                 all write or wat..
1      ham           and  picking them up from various points
2      ham          bot notes oredi... Cos i juz rem i got...
3      ham                                called dad oredi...
4      ham   came to look at the flat, seems ok, in his 50...
...    ...                                                ...
5562   ham                            Yup... How _ noe leh...
5563   ham  Yup... I havent been there before... You want ...
5564   ham  Yup... Ok i go home look at the timings then i...
5565   ham  Yupz... I've oredi booked slots 4 my weekends ...
5566   ham  ZOE IT JUST HIT ME 2 IM FUCKING SHITIN MYSELF ...

[5567 rows x 2 columns]

In [ ]:
df.isnull().values.any()

NameError: ignored

# Pré-processamento

Remoção de pontuação

In [ ]:
df['Text_no_ponctuation_number'] = df['Text'].apply(lambda x: [token for token in x if token not in string.punctuation and not token.isnumeric()])
df['Text_no_ponctuation_number'] = df['Text_no_ponctuation_number'].apply(lambda x: ''.join(x))

Remoção de stopwords

In [ ]:
df['Text_no_stopword'] = df['Text_no_ponctuation_number'].apply(lambda x: [token.text.lower() for token in nlp(x) if (token.is_stop == False and len(token.text)>3)])
df['Text_no_stopword'] = df['Text_no_stopword'].apply(lambda x: ' '.join(x))

Lematização e remoção de stopwords

In [ ]:
df['Text_lemma_no_stopword'] = df['Text_no_stopword'].apply(lambda x: [token.lemma_ for token in nlp(x)])
df['Text_lemma_no_stopword'] = df['Text_lemma_no_stopword'].apply(lambda x: ' '.join(x))

Lematização

In [ ]:
df['Text_lemma'] = df['Text_no_ponctuation_number'].apply(lambda x: [token.lemma_ for token in nlp(x)])
df['Text_lemma'] = df['Text_lemma'].apply(lambda x: ' '.join(x))

In [ ]:
df

     Class  ...                                         Text_lemma
0      ham  ...                                   all write or wat
1      ham  ...            and   pick -PRON- up from various point
2      ham  ...                 bot note oredi Cos i juz rem i get
3      ham  ...                                     call dad oredi
4      ham  ...    come to look at the flat seem ok in -PRON- s...
...    ...  ...                                                ...
5562   ham  ...                                  yup how   noe leh
5563   ham  ...  yup -PRON- have not be there before -PRON- wan...
5564   ham  ...  yup ok i go home look at the timing then i msg...
5565   ham  ...  Yupz -PRON- have oredi book slot   -PRON- week...
5566   ham  ...  ZOE it just hit me   IM fucking SHITIN MYSELF ...

[5567 rows x 6 columns]

Extração de features usando o TfidfVectorizer - neste exemplo iremos avaliar os textos com lemma e sem stopword

In [ ]:
# Código para pegar os valores de uma coluna do dataframe (dataframe,nomedacoluna,.values)
X = df.Text_lemma_no_stopword.values

#Extração das features
vectorizer = TfidfVectorizer(use_idf=True)
tfidf_model = vectorizer.fit(X)

X_tfidf = tfidf_model.transform(X)

print(X_tfidf[0,:])

  (0, 6858)	0.8121978182207468
  (0, 6628)	0.583382125263929

# Função para treinamento e avaliação de vários modelos e métricas ao mesmo tempo usando treinamento e teste. Explicações dentro da função.

In [ ]:
def run_exps_train_test(x_train: pd.DataFrame ,
             y_train: pd.DataFrame,
             x_test: pd.DataFrame,
             y_test: pd.DataFrame) -> pd.DataFrame:
    """
    Lightweight script to test many models and find winners
    :param x_train: train split
    :param y_train: training target vector
    :param x_test: test split
    :param y_test: test target vector
    :return: DataFrame of predictions
    """

    dfs = []
#Modelos que serão avaliados (podem incluir quantos modelos quiserem)
    models = [
          ('LogReg', LogisticRegression()),
          ('RF', RandomForestClassifier()),
          ('KNN', KNeighborsClassifier()),
          ('SVM', SVC(kernel="linear")),
          ('MNB', MultinomialNB()),
          ('Adaboost', AdaBoostClassifier()),
          ('XGB', XGBClassifier())
        ]

    results = []
    names = []
    #Métricas que serão avaliadas (podem incluir quantos métricas quiserem)
    kappa_scorer = make_scorer(cohen_kappa_score)
    scoring = {
                'accuracy': 'accuracy',
                'precision_weighted': 'precision_weighted',
                'recall_weighted': 'recall_weighted',
                'f1_weighted': 'f1_weighted',
                'kappa' : kappa_scorer
                }

  #Nomes das classes, esse atributo é opcional, caso não seja incluido o modelo
  #vai apresentar os valores de 0-n onde n é o número de classes.
   # target_names = ['ham', 'spam']

    for name, model in models:
        #em alguns casos é interessante se criar um classificador para cada classe
        #caso seja o caso descomentar linha abaixo
        #model = OneVsRestClassifier(model)
        clf = model.fit(x_train, y_train)
        y_pred = clf.predict(x_test)
        print(name)
        print(classification_report(y_test, y_pred))

# Recuperando classes das instâncias de treinamento e teste

In [ ]:
Y = df.Class.values
tfidf_train, tfidf_test, class_train, class_test = train_test_split(X_tfidf, Y, test_size=0.25)

# Rodar função para treinamento e avaliação descrita acima.

In [ ]:
run_exps_train_test(tfidf_train, class_train, tfidf_test, class_test)

LogReg
              precision    recall  f1-score   support

         ham       0.95      1.00      0.97      1205
        spam       0.99      0.63      0.77       187

    accuracy                           0.95      1392
   macro avg       0.97      0.82      0.87      1392
weighted avg       0.95      0.95      0.94      1392

RF
              precision    recall  f1-score   support

         ham       0.97      1.00      0.99      1205
        spam       1.00      0.83      0.91       187

    accuracy                           0.98      1392
   macro avg       0.99      0.91      0.95      1392
weighted avg       0.98      0.98      0.98      1392

KNN
              precision    recall  f1-score   support

         ham       0.90      1.00      0.95      1205
        spam       1.00      0.30      0.46       187

    accuracy                           0.91      1392
   macro avg       0.95      0.65      0.70      1392
weighted avg       0.92      0.91      0.88      1392

SVM
              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1205
        spam       0.98      0.85      0.91       187

    accuracy                           0.98      1392
   macro avg       0.98      0.92      0.95      1392
weighted avg       0.98      0.98      0.98      1392

MNB
              precision    recall  f1-score   support

         ham       0.95      1.00      0.98      1205
        spam       0.99      0.68      0.81       187

    accuracy                           0.96      1392
   macro avg       0.97      0.84      0.89      1392
weighted avg       0.96      0.96      0.95      1392

Adaboost
              precision    recall  f1-score   support

         ham       0.97      0.98      0.98      1205
        spam       0.88      0.79      0.83       187

    accuracy                           0.96      1392
   macro avg       0.92      0.88      0.90      1392
weighted avg       0.96      0.96      0.96      1392

XGB
              precision    recall  f1-score   support

         ham       0.95      0.99      0.97      1205
        spam       0.94      0.70      0.80       187

    accuracy                           0.95      1392
   macro avg       0.95      0.84      0.89      1392
weighted avg       0.95      0.95      0.95      1392

NameError: ignored

In [ ]:
def run_exps_crossvalidation(x: pd.DataFrame ,
             y: pd.DataFrame) -> pd.DataFrame:
    """
    Lightweight script to test many models and find winners
    :param x: values vector
    :param y: target vector
    :return: DataFrame of predictions
    """

    dfs = []
    print("CARREGANDO MODELO")
    models = [
          ('LogReg', LogisticRegression()),
          ('RF', RandomForestClassifier()),
          ('KNN', KNeighborsClassifier()),
          ('MNB', MultinomialNB()),
          ('Adaboost', AdaBoostClassifier()),
          ('XGB', XGBClassifier())
        ]

    results = []
    names = []
    kappa_scorer = make_scorer(cohen_kappa_score)
    scoring = {
                'accuracy': 'accuracy',
                'precision_weighted': 'precision_weighted',
                'recall_weighted': 'recall_weighted',
                'f1_weighted': 'f1_weighted',
                'kappa' : kappa_scorer
                }
    print("RODANDO")
    for name, model in models:
        print(name)
        kfold = model_selection.KFold(n_splits=10, shuffle=True)
        cv_results = model_selection.cross_validate(model, x, y, cv=kfold, scoring=scoring)
        results.append(cv_results)
        names.append(name)
        this_df = pd.DataFrame(cv_results)
        this_df['model'] = name
        dfs.append(this_df)

    final = pd.concat(dfs, ignore_index=True)
    return final

In [ ]:
final = run_exps_crossvalidation(X_tfidf, Y)
final

CARREGANDO MODELO
RODANDO
LogReg
RF
KNN
MNB
Adaboost
XGB

    fit_time  score_time  test_accuracy  ...  test_f1_weighted  test_kappa     model
0   0.092357    0.013748       0.958707  ...          0.955778    0.811678    LogReg
1   0.075462    0.013410       0.965889  ...          0.964216    0.851402    LogReg
2   0.075993    0.014537       0.946140  ...          0.942094    0.777544    LogReg
3   0.069625    0.014492       0.949731  ...          0.945445    0.760614    LogReg
4   0.075157    0.013360       0.971275  ...          0.969286    0.810826    LogReg
5   0.079680    0.014840       0.964093  ...          0.961411    0.811071    LogReg
6   0.076525    0.013944       0.955117  ...          0.951223    0.762327    LogReg
7   0.069207    0.013835       0.946043  ...          0.940909    0.736776    LogReg
8   0.080944    0.014386       0.946043  ...          0.940174    0.708789    LogReg
9   0.078066    0.013387       0.955036  ...          0.950879    0.765978    LogReg
10  4.549921    0.051394       0.983842  ...          0.983293    0.914109        RF
11  4.535928    0.050164       0.982047  ...          0.981733    0.921196        RF
12  4.688120    0.052666       0.980251  ...          0.979533    0.904930        RF
13  4.598648    0.050894       0.978456  ...          0.977509    0.888063        RF
14  4.499883    0.051588       0.958707  ...          0.955675    0.806909        RF
15  4.738668    0.050459       0.965889  ...          0.964019    0.851477        RF
16  4.845633    0.051111       0.971275  ...          0.969893    0.871102        RF
17  4.656511    0.050673       0.983813  ...          0.983371    0.926945        RF
18  4.565255    0.050735       0.967626  ...          0.965681    0.843605        RF
19  4.725605    0.050958       0.989209  ...          0.989095    0.955741        RF
20  0.005456    0.071935       0.910233  ...          0.891288    0.490617       KNN
21  0.005420    0.079418       0.899461  ...          0.877136    0.459223       KNN
22  0.005616    0.079267       0.913824  ...          0.895985    0.501863       KNN
23  0.005589    0.076478       0.921005  ...          0.905685    0.533891       KNN
24  0.005559    0.079573       0.924596  ...          0.906820    0.458397       KNN
25  0.005368    0.080333       0.919210  ...          0.902258    0.502056       KNN
26  0.005747    0.077125       0.903052  ...          0.879976    0.433239       KNN
27  0.005412    0.076167       0.933453  ...          0.921796    0.562930       KNN
28  0.005558    0.074719       0.917266  ...          0.902481    0.558608       KNN
29  0.005574    0.079332       0.922662  ...          0.910598    0.607293       KNN
30  0.014159    0.012063       0.964093  ...          0.962005    0.842797       MNB
31  0.014667    0.012028       0.944345  ...          0.939980    0.768982       MNB
32  0.013977    0.011928       0.973070  ...          0.971866    0.879852       MNB
33  0.014025    0.011924       0.964093  ...          0.961859    0.835070       MNB
34  0.013843    0.011824       0.973070  ...          0.971383    0.845241       MNB
35  0.013821    0.011960       0.969479  ...          0.967880    0.847089       MNB
36  0.013777    0.011708       0.962298  ...          0.958991    0.783769       MNB
37  0.013591    0.015239       0.967626  ...          0.966192    0.863069       MNB
38  0.014964    0.011709       0.978417  ...          0.977537    0.894176       MNB
39  0.014200    0.011952       0.962230  ...          0.958987    0.787260       MNB
40  1.709178    0.028813       0.955117  ...          0.954780    0.822152  Adaboost
41  1.671252    0.028882       0.964093  ...          0.963423    0.834625  Adaboost
42  1.687286    0.028942       0.958707  ...          0.958102    0.817676  Adaboost
43  1.679985    0.029337       0.967684  ...          0.966679    0.851233  Adaboost
44  1.692504    0.028770       0.947935  ...          0.948148    0.705092  Adaboost
45  1.680129    0.028634       0.956912  ...          0.954636    0.823464  Adaboost
46  1.672564    0.029858       0.960503  ...          0.958949    0.811140  Adaboost
47  1.666622    0.028355       0.956835  ...          0.956279    0.796381  Adaboost
48  1.657029    0.028558       0.955036  ...          0.953170    0.789496  Adaboost
49  1.689301    0.029411       0.973022  ...          0.972679    0.892187  Adaboost
50  1.078298    0.018297       0.949731  ...          0.945206    0.750791       XGB
51  1.085194    0.018124       0.947935  ...          0.943629    0.750336       XGB
52  1.070139    0.018123       0.962298  ...          0.960585    0.811025       XGB
53  1.074460    0.018029       0.942549  ...          0.936522    0.727145       XGB
54  1.061649    0.019189       0.956912  ...          0.953495    0.762608       XGB
55  1.064765    0.018465       0.969479  ...          0.968602    0.856797       XGB
56  1.064224    0.018502       0.956912  ...          0.953275    0.750709       XGB
57  1.055601    0.018456       0.958633  ...          0.956247    0.826212       XGB
58  1.065001    0.018043       0.953237  ...          0.949747    0.785818       XGB
59  1.062617    0.018126       0.969424  ...          0.968133    0.855004       XGB

[60 rows x 8 columns]

In [ ]:
grouped = final[['test_accuracy','test_f1_weighted', 'test_kappa']].groupby(final['model'])
grouped.mean()

          test_accuracy  test_f1_weighted  test_kappa
model
Adaboost       0.959584          0.958684    0.814344
KNN            0.916476          0.899402    0.510812
LogReg         0.955807          0.952141    0.779700
MNB            0.965872          0.963668    0.834731
RF             0.976111          0.974980    0.888408
XGB            0.956711          0.953544    0.787644

In [ ]:
grouped.std()

          test_accuracy  test_f1_weighted  test_kappa
model
Adaboost       0.007143          0.007161    0.048159
KNN            0.010202          0.013702    0.054602
LogReg         0.009068          0.010309    0.041961
MNB            0.009267          0.010296    0.041998
RF             0.009726          0.010628    0.045142
XGB            0.008807          0.010374    0.046855

# Medindo a importância das features no classificador

> Indented block

Treinar o modelo de árvore de decisão

In [ ]:
model = RandomForestClassifier()
model.fit(X_tfidf, Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Extraindo a importância das características

In [ ]:
mdg_features = model.feature_importances_
mdg_features

array([3.35502226e-11, 0.00000000e+00, 1.93376479e-10, ...,
       7.82331269e-07, 1.49157401e-04, 0.00000000e+00])

Nomes e índices das features

In [ ]:
features_names = tfidf_model.get_feature_names()

feature_importance = pd.DataFrame(mdg_features,
                                   index = features_names,
                                   columns=['importance']).sort_values('importance',ascending=False)

index_feature_importance = pd.DataFrame(mdg_features,
                                   index = range(len(features_names)),
                                   columns=['importance']).sort_values('importance',ascending=False)

Montar o array de importância

In [ ]:
labels_features = feature_importance['importance'].index[:30]
indices_features = index_feature_importance['importance'].index[:30]
mdg_features = feature_importance['importance'].values[:30]

data = {"Variable": labels_features, "MDG": mdg_features}

df_feature_importance = pd.DataFrame(data)
df_feature_importance

     Variable       MDG
0         txt  0.039575
1        free  0.030130
2         win  0.025018
3       claim  0.023794
4      mobile  0.023119
5     service  0.020165
6        text  0.019697
7        stop  0.018541
8       prize  0.016123
9        tone  0.014968
10     urgent  0.014789
11      reply  0.012321
12      nokia  0.011253
13      award  0.009979
14        new  0.009955
15  guarantee  0.009142
16   customer  0.008422
17       cash  0.007865
18    contact  0.007840
19       chat  0.007761
20    voucher  0.007271
21        ppm  0.007247
22      pobox  0.007144
23        box  0.006981
24    receive  0.006852
25   ringtone  0.006801
26       pmin  0.006573
27      video  0.006514
28   landline  0.006502
29       draw  0.005649